CONFIG_PREEMPT_RT=y
CONFIG_DRM=n
CONFIG_FB=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_HID=n
CONFIG_USB_HID=n
CONFIG_HID_GENERIC=n
CONFIG_INPUT=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_INPUT_MOUSE=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_BT=n
CONFIG_NFS_FS=n
CONFIG_CIFS=n
CONFIG_SCSI=n
CONFIG_SOUND_OSS_CORE=n
CONFIG_ATA=n
