CONFIG_PREEMPT_RT=y
CONFIG_DRM=n
CONFIG_FB=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_HID=n
CONFIG_USB_HID=n
CONFIG_HID_GENERIC=n
CONFIG_INPUT=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_INPUT_MOUSE=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_BT=n
CONFIG_NFS_FS=n
CONFIG_CIFS=n
CONFIG_SCSI=n
CONFIG_SOUND_OSS_CORE=n
CONFIG_ATA=n
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_USB=y
CONFIG_SND_USB_AUDIO=y
CONFIG_SND_BCM2835=n
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_PCM=y
CONFIG_SND_TIMER=y
CONFIG_SND_HWDEP=y
CONFIG_SND_JACK=y
CONFIG_SND_USB=y
CONFIG_SND_USB_AUDIO=y
CONFIG_SND_BCM2835=n
CONFIG_RTC_SYSTOHC=y
CONFIG_RTC_SYSTOHC_DEVICE="rtc0"